.card-button{
    margin: 10px 0px;
    background: rgba(255, 255, 255, 0.02);
    color: #fff;
    padding: 20px;
    border-radius: 6px;
    border: none;
    display: block;
    width: 100%;
}

.card-button:hover{
    background: rgba(255, 255, 255, 0.10);
}